/* Keep only the CSS rules that are not automatically given by Bootstrap's classes */

.card-img-top {
    max-width: 300px;
    width: 100%;
    height: auto;
}

@media (max-width: 500px) {
    .card-img-top {
        width: 50%;
    }
}